# è³‡æ–™å‰è™•ç†(Label encodingã€ One hot encoding)
é€™å…©å€‹ç·¨ç¢¼æ–¹å¼çš„ç›®çš„æ˜¯ç‚ºäº†å°‡é¡åˆ¥ (categorical)æˆ–æ˜¯æ–‡å­—(text)çš„è³‡æ–™è½‰æ›æˆæ•¸å­—ï¼Œè€Œè®“ç¨‹å¼èƒ½å¤ æ›´å¥½çš„å»ç†è§£åŠé‹ç®—ã€‚
> Label encoding : æŠŠæ¯å€‹é¡åˆ¥ mapping åˆ°æŸå€‹æ•´æ•¸ï¼Œä¸æœƒå¢åŠ æ–°æ¬„ä½

> One hot encoding : ç‚ºæ¯å€‹é¡åˆ¥æ–°å¢ä¸€å€‹æ¬„ä½ï¼Œç”¨ 0/1 è¡¨ç¤ºæ˜¯å¦

![](images/Encoder.PNG)


## Encoding Categorical features (or label)
![](images/Encoding.PNG)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'blood':['A','B','AB','O','B'], 
                   'Y':['high','low','high','mid','mid'],
                   'Z':[np.nan,np.nan,-1196,72,83]})
df

  blood     Y       Z
0     A  high     NaN
1     B   low     NaN
2    AB  high -1196.0
3     O   mid    72.0
4     B   mid    83.0

# æ–¹æ³•ä¸€ï¼šsklearn - label encoder + onehot encoder
>onehot encoderè¦ç”¨2D arrayï¼Œè‹¥ç¶­åº¦æ‰€ä»¥è¦ç”¨reshape(-1,1)<br>
>onehot encoderè¦æ•¸å­—ï¼Œè‹¥è³‡æ–™æ–‡æ–‡å­—è¦å…ˆç”¨label encoderè½‰æ•¸å­—

In [3]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder() # ä¹‹å¾Œå¯ä»¥ç›´æ¥ä»¥encoderä½¿ç”¨
encoded_Y = encoder.fit_transform(df['blood']) # æ”¾å…¥è¦è½‰æ›çš„æ¬„ä½
print(encoded_Y) # æœ‰4ç¨®è¡€å‹ è®Šæˆ 0 1 2 3

df['blood'] = encoded_Y # è½‰æ›å®Œçš„å†æ”¾å›åŸè¡¨æ ¼df, è³‡æ–™è½‰æ›æˆæœ‰æ¬¡åºçš„è³‡æ–™
df

[0 2 1 3 2]

   blood     Y       Z
0      0  high     NaN
1      2   low     NaN
2      1  high -1196.0
3      3   mid    72.0
4      2   mid    83.0

In [4]:
from sklearn.preprocessing import OneHotEncoder
onehot = OneHotEncoder() # éœ€è¦çµ¦ä»–numpyçš„æ ¼å¼ã€‚å®˜ç¶²ï¼šlist of array
#print(type(df['blood'])) # tryçœ‹çœ‹ä¸Šä¸€å€‹æ˜¯ä»€éº¼æ ¼å¼(pandas)
d = np.array(df['blood'])
d

array([0, 2, 1, 3, 2])

In [5]:
d.ndim # çœ‹æ˜¯å¹¾ç¶­ï¼š1 ç¶­

onehot_df = onehot.fit_transform(d.reshape(-1, 1)) # â“fit_tranforméœ€è¦ 2D ç¶­åº¦ so è¦.reshape
#onehot_df # çµæœä¸å¸¸è¦‹==> çœ‹ä¸€ä¸‹type
print(onehot_df)
print('-'*50)
print(onehot_df.ndim)
#type(onehot_df) # type = scipy => é‚„æ˜¯è¦æ”¹æˆarray 
onehot_df = onehot.fit_transform(d.reshape(-1, 1)).toarray() # æ”¹æˆarray
print('-'*15,'one hot encoding', '-'*15)
print(onehot_df)

  (0, 0)	1.0
  (1, 2)	1.0
  (2, 1)	1.0
  (3, 3)	1.0
  (4, 2)	1.0
--------------------------------------------------
2
--------------- one hot encoding ---------------
[[1. 0. 0. 0.]
 [0. 0. 1. 0.]
 [0. 1. 0. 0.]
 [0. 0. 0. 1.]
 [0. 0. 1. 0.]]

## One hot encoding
One Hot encodingçš„ç·¨ç¢¼é‚è¼¯ç‚ºå°‡é¡åˆ¥æ‹†æˆå¤šå€‹è¡Œ(column)ï¼Œæ¯å€‹åˆ—ä¸­çš„æ•¸å€¼ç”±1ã€0æ›¿ä»£ï¼Œç•¶æŸä¸€åˆ—çš„è³‡æ–™å­˜åœ¨çš„è©²è¡Œçš„é¡åˆ¥å‰‡é¡¯ç¤º1ï¼Œåå‰‡é¡¯ç¤º0ã€‚

ç„¶åœ¨æŒ‡å®šcolumné€²è¡Œç·¨ç¢¼çš„æƒ…å½¢ä¸‹ï¼ŒOne hot encoding<b>ç„¡æ³•ç›´æ¥å°å­—ä¸²é€²è¡Œç·¨ç¢¼ï¼Œå¿…é ˆå…ˆé€éLabel encodingå°‡å­—ä¸²ä»¥æ•¸å­—å–ä»£å¾Œå†é€²è¡ŒOne hot encodingè™•ç†ã€‚</b>

> categorical_features = [0]: è¡¨ç¤ºæ¬²åœ¨dataä¸ŠåŸ·è¡ŒOne hot encodingçš„indexç‚º0

> data_le: ç‚ºç¶“éLabel encodingç·¨ç¢¼çš„è³‡æ–™(è¨»:OneHotEncoderçš„è¼¸å…¥è¦ç‚º2-D arrayï¼Œè€ŒLabel encodingç‚º1-D array)

OneHotEncoderæœƒè½‰å‡ºscipy.csr_matrixè³‡æ–™çµæ§‹ç”¨.toarray()è½‰array
å¾çµæœå¯ä»¥çŸ¥é“ï¼š

æ•¸å­—0çš„column ä»£è¡¨çš„æ˜¯A

æ•¸å­—1çš„column ä»£è¡¨çš„æ˜¯B

æ•¸å­—2çš„column ä»£è¡¨çš„æ˜¯AB

ğŸŒŸé™¤äº†è½‰æ›å­—ä¸²å¤–ï¼ŒOne hot encodingä¹Ÿå¯ä»¥è½‰æ›æ•¸å­—ã€‚åœ¨æ­¤è™•çš„dataå°±ä¸éœ€è¦å…ˆç¶“éLabel encodingç·¨ç¢¼

```python
# importing one hot encoder from sklearn 
# There are changes in OneHotEncoder class 
from sklearn.preprocessing import OneHotEncoder 
from sklearn.compose import ColumnTransformer 
   
# creating one hot encoder object with categorical feature 0 
# indicating the first column 
columnTransformer = ColumnTransformer([('encoder', 
                                        OneHotEncoder(), 
                                        [0])], 
                                      remainder='passthrough') 
  
data = np.array(columnTransformer.fit_transform(data), dtype = str) 
```

In [6]:
# importing one hot encoder from sklearn 
# There are changes in OneHotEncoder class 
from sklearn.preprocessing import OneHotEncoder 
from sklearn.compose import ColumnTransformer 

# creating one hot encoder object with categorical feature 0 
# indicating the first column 
columnTransformer = ColumnTransformer([('encoder', 
                                        OneHotEncoder(), 
                                        [0])],
                                     remainder='passthrough') 
# [0]é‡å°ç¬¬0å€‹æ¬„ä½
# remainder='passthroughå…¶ä»–æ¬„ä½æœƒç›´æ¥è¢«å¿½ç•¥ å¯ä»¥è©¦è©¦æ‹¿æ‰å¾Œçš„å·®ç•°
 
data = np.array(columnTransformer.fit_transform(df), dtype = str) # ä¹Ÿå¯ä»¥ç”¨å¦ä¸€æ–¹å¼è½‰æˆarrayï¼šçµå°¾.toarray()
# toarrayå‡ºç¾éŒ¯èª¤æ˜¯åŸæœ¬dataå°±å·²ç¶“æ˜¯arrayäº†
data #â“

array([['1.0', '0.0', '0.0', '0.0', 'high', 'nan'],
       ['0.0', '0.0', '1.0', '0.0', 'low', 'nan'],
       ['0.0', '1.0', '0.0', '0.0', 'high', '-1196.0'],
       ['0.0', '0.0', '0.0', '1.0', 'mid', '72.0'],
       ['0.0', '0.0', '1.0', '0.0', 'mid', '83.0']], dtype='<U7')

In [7]:
data_pd = pd.DataFrame(data) # è®Šå›ä¸€é–‹å§‹çš„pandas
data_pd

     0    1    2    3     4        5
0  1.0  0.0  0.0  0.0  high      nan
1  0.0  0.0  1.0  0.0   low      nan
2  0.0  1.0  0.0  0.0  high  -1196.0
3  0.0  0.0  0.0  1.0   mid     72.0
4  0.0  0.0  1.0  0.0   mid     83.0

# æ–¹æ³•äºŒï¼šKeras - label encoder + to_categorical
>to_categoricalè¦æ•¸å­—ï¼Œè‹¥è³‡æ–™æ–‡æ–‡å­—è¦å…ˆç”¨label encoderè½‰æ•¸å­—

In [10]:
from sklearn.preprocessing import LabelEncoder
from keras.utils import np_utils  # âŒ No module named 'keras' âŒ

df = pd.DataFrame({'blood':['A','B','AB','O','B'], 
                   'Y':['high','low','high','mid','mid'],
                   'Z':[np.nan,np.nan,-1196,72,83]});

# label encoder 
encoder = LabelEncoder()
encoded_Y = encoder.fit_transform(df['blood']) # æ”¾å…¥è¦è½‰æ›çš„æ¬„ä½
print(encoded_Y) # æœ‰4ç¨®è¡€å‹ è®Šæˆ 0 1 2 3
df['blood'] = encoded_Y # è½‰æ›å®Œçš„å†æ”¾å›åŸè¡¨æ ¼df, è³‡æ–™è½‰æ›æˆæœ‰æ¬¡åºçš„è³‡æ–™
df

# convert integers to one hot encoding
keras_onehot = np_utils.to_categorical(encoded_Y)
keras_onehot

ModuleNotFoundError: No module named 'keras'

## æ–¹æ³•ä¸‰ï¼špd.get_dummiesæ–¹æ³•
![](images/Encoding_pd.PNG)
pd.get_dummies(df)
>get_dummieså¯ä»¥ç›´æ¥è½‰å­—ä¸²ï¼Œåè€Œç„¡æ³•è½‰æ›æ•¸å­—<br>
>get_dummiesæ²’æŒ‡å®šcolumnsï¼Œæœƒå…¨éƒ¨è½‰æ›

In [13]:
# pandas å…§å»º
df = pd.DataFrame({'blood':['A','B','AB','O','B'], 
                   'Y':['high','low','high','mid','mid'],
                   'Z':[np.nan,np.nan,-1196,72,83]})

df1 = pd.get_dummies(df)
df1

        Z  blood_A  blood_AB  blood_B  blood_O  Y_high  Y_low  Y_mid
0     NaN        1         0        0        0       1      0      0
1     NaN        0         0        1        0       0      1      0
2 -1196.0        0         1        0        0       1      0      0
3    72.0        0         0        0        1       0      0      1
4    83.0        0         0        1        0       0      0      1

In [14]:
# æŒ‡å®šæ¬„ä½:
df2 = pd.get_dummies(df.blood)
df2

   A  AB  B  O
0  1   0  0  0
1  0   0  1  0
2  0   1  0  0
3  0   0  0  1
4  0   0  1  0

## ç·´ç¿’ä¸€ï¼šsklearn - label encoder + onehot encoder
ä¸‹é¢çš„è³‡æ–™å¯ä»¥çœ‹åˆ°countryé‚£æ¬„çš†ç‚ºå­—ä¸²ï¼Œ å¤§éƒ¨åˆ†çš„æ¨¡å‹éƒ½æ˜¯åŸºæ–¼æ•¸å­¸é‹ç®—ï¼Œå­—ä¸²ç„¡æ³•å¥—å…¥æ•¸å­¸æ¨¡å‹é€²è¡Œé‹ç®—ï¼Œ<br>
åœ¨æ­¤å…ˆå°å…¶é€²è¡ŒLabel encodingç·¨ç¢¼ï¼Œæˆ‘å€‘å¾ sklearn libraryä¸­å°å…¥ LabelEncoder classï¼Œå°ç¬¬ä¸€è¡Œè³‡æ–™é€²è¡ŒfitåŠtransformä¸¦å–ä»£ä¹‹ã€‚

In [15]:
import numpy as np
import pandas as pd
country=['Taiwan','Australia','Ireland','Australia','Ireland','Taiwan']
age=[25,30,45,35,22,36]
salary=[20000,32000,59000,60000,43000,52000]
dic={'Country':country,'Age':age,'Salary':salary}
data=pd.DataFrame(dic)
data

     Country  Age  Salary
0     Taiwan   25   20000
1  Australia   30   32000
2    Ireland   45   59000
3  Australia   35   60000
4    Ireland   22   43000
5     Taiwan   36   52000

## ç·´ç¿’äºŒï¼šKeras - label encoder + to_categorical

In [16]:
from sklearn.preprocessing import LabelEncoder
from keras.utils import np_utils

country=['Taiwan','Australia','Ireland','Australia','Ireland','Taiwan']
age=[25,30,45,35,22,36]
salary=[20000,32000,59000,60000,43000,52000]
dic={'Country':country,'Age':age,'Salary':salary}
data=pd.DataFrame(dic)
data

ModuleNotFoundError: No module named 'keras'

## ç·´ç¿’ä¸‰ï¼šPandas.get_dummies
>ã€€get_dummies : åƒ…èƒ½å°‡å­—ä¸²è½‰æ›ç‚ºOne hot encodingè¡¨ç¤ºå½¢å¼ï¼Œ æ²’æŒ‡å®šcolumnsæœƒå…¨éƒ¨è½‰æ›ã€‚

In [17]:
country=['Taiwan','Australia','Ireland','Australia','Ireland','Taiwan']
age=[25,30,45,35,22,36]
salary=[20000,32000,59000,60000,43000,52000]
dic={'Country':country,'Age':age,'Salary':salary}
data=pd.DataFrame(dic)
data

     Country  Age  Salary
0     Taiwan   25   20000
1  Australia   30   32000
2    Ireland   45   59000
3  Australia   35   60000
4    Ireland   22   43000
5     Taiwan   36   52000